[package]
name = "querymt-cli"
version = "0.1.3"
edition = "2021"
description = "CLI for querymt."
license = "MIT"
authors = [
    "Viktor Gal <viktor@query.mt>"
]
repository = "https://github.com/querymt/querymt"
homepage = "https://query.mt"

[dependencies]
anyhow = "1.0"
querymt = { path = "../querymt", default-features = false, features = ["reqwest-client", "extism_host", "mcp", "native", "tracing", "http-client"] }
clap = { version = "4", features = ["derive"] }
clap_complete = "4"
reedline = "0.43"
colored = "3.0"
spinners = "4.1"
tokio = { version = "1.0", features = ["full"] }
serde = { version = "1.0", features = ["derive"] }
serde_json = { workspace = true }
log = { workspace = true }
dirs = "6.0"
toml = "0.9"
futures = "0.3"
rusqlite = { version = "0.32", features = ["bundled"] }
serde_yaml = "0.9"
async-trait = "0.1"

[target.'cfg(unix)'.dependencies]
termios = "0.3"

tracing = { workspace = true }
tracing-log = "0.2"
tracing-opentelemetry = "0.32"
tracing-subscriber = "0.3"
opentelemetry = "0.31"
opentelemetry_sdk = "0.31"
opentelemetry-otlp = { version = "0.31", features = ["metrics", "grpc-tonic"] }
opentelemetry-semantic-conventions = "0.31"

[[bin]]
name = "qmt"
path = "src/main.rs"
