/* Circuit Board Background Animation */

.circuit-background {
  z-index: 0;
}

.circuit-path path {
  stroke-dasharray: 100, 10, 200, 10;
  stroke-dashoffset: 1000;
  animation: circuit-flow 10s linear infinite;
}

.path-2 path {
  animation-delay: -1s;
}

.path-3 path {
  animation-delay: -2s;
}

.path-4 path {
  animation-delay: -3s;
}

@keyframes circuit-flow {
  100% {
    stroke-dashoffset: 0;
  }
}
